html {
    background: rgb(14, 14, 14);
    height: 100vh;
    overflow: hidden;
    font-family: helvetica, sans-serif;
    font-size: 18px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#soundboard button:not(:last-child) {
    margin-right: 50px;
}

#soundboard button {
    padding: 1em 2em;
    border-radius: 50%;
    border: none;
    height: 240px;
    aspect-ratio: 1/1;
    font-size: 1rem;
    transition: all 0.25s ease;
    background: #1db5c3;
    cursor: pointer;
}

#soundboard button:hover {
    background: #20d1e2;
    box-shadow: 0 0 30px 3px #1db5c3c2;
}